.name-box{
  font-size: 15px;
  font-family:unset
}

.comment-box{
    font-size: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 5px 0px 0px 15px;
}

.Subjext{
    font-size: 20px;
    margin-bottom: -10px;
}

.BBS-box{
  width: 30%;
  overflow-wrap: break-word;
}