.name-box{
  font-size: 15px;
  font-family:unset
}

.comment-box{
    font-size: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 5px 0px 0px 15px;
    white-space: pre-wrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.Subjext{
    font-size: 20px;
    margin-bottom: -10px;
}

.BBS-box{
  width: 30%;
  overflow-wrap: break-word;
}