body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .link-box{
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 0px 30px 0px 30px;
  }
  
  .menu{
    background: pink;
    position:fixed;	
    width: 10%;
    top:0px;
    bottom:0px;
    left:0px;
  }
  
  .page{
    position:fixed;
    width:90%;
    height:100%;
    right:0px;
    bottom:0px;
    background-image: url("pattern.jpeg") ;
    background-repeat: repeat;
    background-attachment: fixed;
  }
